<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/stable/configuration.html -->
<phpunit
    xmlns:xsi                     = "http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation = "https://schema.phpunit.de/10.0/phpunit.xsd"
    colors                        = "true"
    bootstrap                     = "vendor/autoload.php"
>

    <coverage>
        <include>
            <directory>src</directory>
        </include>
    </coverage>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <extensions>
        <bootstrap class="JohnKary\PHPUnit\Extension\SpeedTrapExtension">
            <parameter name="slowThreshold" value="500"/>
            <parameter name="reportLength" value="5"/>
        </bootstrap>
    </extensions>

</phpunit>
